.public-left-container {
    width: 100%;
    padding: 4rem;
    background-color: #f50057;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.public-logo {
    width: 50%;
    margin-bottom: 2rem;
    filter: brightness(0) invert(1);
}

.public-right-container {
    width: 100%;
    height: 100%;
    background-image: url('../../img/lnf-background-01.jpg');
    background-size: cover;
    background-position: center;
}
